.flurry #home .ui-panel-wrapper {
    background-image: url("../img/home.gif");
    background-color: rgb(255,216,168);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: contain;
}


/*jQuery Mobile overrides*/
.flurry .ui-page-theme-a .ui-bar-inherit {
    background-color: transparent;
    border-color: transparent;
}

.flurry header.ui-page-theme-a .ui-btn,
.flurry header.ui-page-theme-a .ui-btn:hover {
    background: none;
    box-shadow: none;
    border: none;
}