#home {
    background-image: url("../img/home.gif");
    background-color: rgb(255,216,168);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: contain;
}


/*jQuery Mobile overrides*/
.flurry .ui-page-theme-a .ui-bar-inherit {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
}